*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
img{
  width: 100%;
}
body{
  font-size: 16px;
  header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color:#131522;
    color: #ffffff;
    .logo{
      width: 50%;
      font-size: 1.5em;
      h2{
        color: #7BE1EF;
        span{
          color: #4A828F;
        }
      }
    }
    nav{
      width: 50%;
      ul{
        list-style-type: none;
        display: flex;
        li{
          a{
            margin-left: 1em;
            color: #ffffff;
            &:hover{
              color: #4A828F;
            }
          }
          .signup{
            border: 2px solid #4A828F;
            padding: 0.3em 1em;
          }
        }
      }
    }
  }
  main{
    display: flex;
    justify-content: space-between;
    padding: 0em 8em;
    .column1{
      width: 65%;
      .sub-nav{
        ul{
          list-style-type: none;
          display: flex;
          margin: 3em 0em;
          li{
            img{
              width: 9px;
              margin:0em 1em;
            }
            a{
              color: #000000;
              &:hover{
                color: #19B7CD;
              }
            }
          }
        }
        p{
          margin-bottom: 1em;
          img{
            width: 20px;
            margin-right: 1em;
          }
          a{
            color:#19B7CD ;
          }
        }
        
      }
      h2{
        margin: 1em 0em;
      }
      form{
        border-bottom:2px solid #F3F3F3;
        border-left:2px solid #F3F3F3 ;
        border-right:2px solid #F3F3F3 ;
        h3{
          margin: 1em 1em;
        }
        .btn-payment{
          display: flex;
          button{
            padding: 1em 8em;
            border: none;
            margin: 1em 0em;
            &:hover{
              background-color:#19B7CD;
              color: #ffffff;
            }
          }
        }
        .form-input{
          padding: 1em 2em;
          label{
            display: block;
            
          }
          input[type=text]{
            width: 90%;
            padding: 0.7em ;
            margin-bottom: 2em;
            border: 2px solid #F3F3F3;
          }
          input[type=password]{
            width: 60%;
            padding: 0.7em ;
            margin-bottom: 2em;
            border: 2px solid #F3F3F3;
            display: block;
          }
          input[type=month]{
            width: 70%;
            padding: 0.7em ;
            margin-bottom: 2em;
            border: 2px solid #F3F3F3;
            display: block;
          }
          input[type=checkbox]{
            margin-bottom: 2em;
            border: 2px solid #F3F3F3;
            margin-right: 0.5em;
          }
          .visa-logo{
            background-image: url('./visa\ logo.jpeg');
            background-position: right;
            background-repeat: no-repeat;
            background-size: 70px;
          }
        }
        .safe{
          margin-bottom: 7em;
          img{
            width: 20px;
            background-color: blue;
            border-radius: 80px;
          }
          span{
            margin-left: 3em;
            color: #19B7CD;
          }
          button{
            padding: 0.4em 2em;
            margin-left: 0.5em;
            background-color: #19B7CD;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            font-size: 0.7em;
            img{
              width: 10px;
            }
          }
        }
      }
    }
    .column2{
      width: 30%;
      padding: 4em 0em;
      h3{
        margin-bottom: 0.5em;
      }
      div{
        div{
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid #F3F3F3;
        }
        div{
          display: flex;
          justify-content: space-between;
          margin: 2em 0em;
        }
      }
      button{
        padding: 0.9em 4em;
        background-color: #19B7CD;
        color: #ffffff;
        border: none;
      }
    }
  }
}
@media(max-width:600px){
  body{
    font-size: 10px;
    header{
      display: flex;
      justify-content: space-between;
      nav{
        display: none;
      }
    }
    main{
      display: flex;
      flex-direction: column;
      padding: 0em 2em;
      .column1{
        width: 100%;
        .sub-nav{
          ul{
            margin: 3em 0em;
            li{
              img{
                margin:0em 0.5em;
              }
            }
          }  
        }
        form{
          .btn-payment{
            display: flex;
            flex-direction: column;
            button{
              padding: 1em 1em;
              border: none;
            }
          }
          .form-input{
            padding: 0em 0.4em;
        }
      }
      .column2{
        width: 100%;
        button{
          padding: 0.5em 2em;
        }
      }
    }
  }
}